# ignore all json output made by the program
*.json

# ignore the example-test folder, already present in the TinCan module
example-test

#ignore python cache
__pycache__
*pyc

#ignore csv table (information sensitive)
*.csv